*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(1, 19, 49);
    counter-reset: #ffff;
}
nav{
    
    display: flex;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
    padding: 10px  20px;
    height:60px;
    color: #ffff;
    background-color: rgba(1, 17, 66, 0.957);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 10px  23px;
    padding-bottom: auto;
    padding: auto;
    font-style: italic;
    font-size: x-large;
}

 hr{
    position: absolute;
    margin-top: 50px;
    width: 90%;
    bottom: 110px;
    /* transform: translateX(50%); */
    background-color: #9c97f1;
    
    /* height: 1.2px; */
    /* margin:40px 84px ; */
}
.left{
    font-weight: bolder;
    font-style: oblique;
    font-size: 2rem;
    display: inline-block;
    color: rgb(94, 94, 94);
    
}
span.c{
    color: rgba(67, 98, 200, 0.913);
}

.leftsection{
    color: #ffff;
    margin: 5px   50px;
    width: 30PX 0;
}
.leftsection div{
   width: 30%;
}

.first{
    display: flex;
    justify-content: space-around;
    margin: 90px 0;

}
.first div{
    width: 30%;
}
.rightsection{
   color: #fff;
}
.rightsection img{
    border-radius: 50%;
    width: 90%;
    margin: 0 10%;
    justify-content: space-between;
}
.verticleimg :hover{
    tr
}
.leftsection{
    font-size: 2rem;
    margin: 70px 0;
    

}
.leftsection div{
    width: 136%;
}
span{
    color: rgb(132, 83, 237);
}
.right ul a{
    color:#fff ;
    text-decoration: none;
}

a :hover{
    color: rgb(81, 3, 119);
}
.text-gray{
    color: gray;
}
.second{
    /* display: block; */
 color: #fff ;
  width: 80vw;
  margin: auto;


}
.box-1{
    background: #fff;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.verticle{
    height: 93px;
    width: 1px;
    background-color:#fff ;
    margin: 0 80px; 
    

}
p.Hi{
    color: red;
    margin: 0px  50px;
    width: 1px;
}
.btns :hover{
    color: #090909;
    background-color: blue;
}
.btn{
    padding: 5px;
    font-weight: bolder;
}
.btn-2{
    padding: 5px;
    margin: 5%  5%;
    font-weight: bolder;
}
/* hr{
    color: #9c97f1;
    /* height: 1.2px; */
    /* width: 100%; */
 /* margin-bottom: 50%; */
    /* margin: 40px 80px; */ */
    



